<link
  href="https://fonts.googleapis.com/css?family=Schoolbell&v1"
  rel="stylesheet"
/>
<div class="fullcontainer">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="menu">
      <div class="lingkaran-container">
        <div class="lingkaran merah"></div>
        <div class="lingkaran kuning"></div>
        <div class="lingkaran hijau"></div>
      </div>
    </div>
    <div class="article">
      <div class="profile">
        <div class="profile-picture"></div>
        <div class="profile-article-container">
          <div class="profile-title">
            Nadir<span class="black">a</span> Nu<span class="black">r</span>
            Wiradat<span class="black">ya</span>
          </div>
          <div class="profile-desc">
            a creative from Pacitan born on April 6, 2003. I'm passionate about
            <span class="highlight">photography</span>,
            <span class="highlight">design</span>, and playing
            <span class="highlight">guitar</span>
            and <span class="highlight">bass</span>. With a blend of
            <span class="blue">design</span> expertise and
            <span class="blue">programming</span> skills, I create visually
            stunning digital experiences that are both beautiful and functional.
            From crafting captivating visuals to coding seamless user
            interfaces, I thrive on bringing ideas to life. Outside of work,
            you'll often find me behind the camera, sketching new designs, or
            jamming on my guitar. I'm excited about the endless possibilities of
            design and technology and look forward to collaborating with you.
          </div>
        </div>
      </div>
      <div class="name" data-aos="fade-up">
        <div class="about">
          <span style="color: rgb(74, 20, 33)">My</span>
          <span style="color: rgb(12, 28, 74)">Documentation</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, fugiat
          numquam dicta eveniet omnis explicabo exercitationem corrupti deleniti
          ducimus quis reiciendis, ab dolores laboriosam sapiente ipsum deserunt
          commodi soluta aut. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Maxime magni perspiciatis animi perferendis, deleniti porro
          atque, reprehenderit itaque culpa fugiat aut, tempora ullam! Impedit
          laborum magnam repellendus sint, harum iste! Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Provident facilis cumque doloribus
          ad id, sequi perspiciatis nostrum eum facere tempore. Harum non ab
          quia dolorem autem est corrupti ducimus sint! Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Totam cum aspernatur corrupti
          veritatis a assumenda est ad nisi placeat ipsam esse, ratione cumque
          qui explicabo saepe. Laudantium earum recusandae libero?
        </p>
      </div>
      <div class="image-container" data-aos="fade-up">
        <div class="flex">
          <div class="image1" data-aos="fade-up">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
          <div class="image2" data-aos="fade-up">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="image3">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
          <div class="image4">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
        </div>
      </div>
      <div class="desc"></div>
    </div>
  </div>
</div>
