<link
  href="https://fonts.googleapis.com/css?family=Schoolbell&v1"
  rel="stylesheet"
/>
<div class="fullcontainer">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="menu">
      <div class="lingkaran-container">
        <div class="lingkaran merah"></div>
        <div class="lingkaran kuning"></div>
        <div class="lingkaran hijau"></div>
      </div>
    </div>
    <div class="article">
      <div class="profile">
        <div class="profile-picture"></div>
        <div class="image"></div>
        <div class="image-2"></div>
        <div class="profile-article-container">
          <div class="profile-title">
            Nadir<span class="black">a</span> Nu<span class="black">r</span>
            Wiradat<span class="black">ya</span>
          </div>
          <div class="profile-desc">
            a creative from Pacitan born on April 6, 2003. I'm passionate about
            <span style="color: white" class="highlight">photography</span>,
            <span style="color: white" class="highlight">design</span>, and
            playing
            <span style="color: white" class="highlight">guitar</span>
            and <span style="color: white" class="highlight">bass</span>. With a
            blend of <span class="blue">design</span> expertise and
            <span class="blue">programming</span> skills, I create visually
            stunning digital experiences that are both beautiful and functional.
            From crafting captivating visuals to coding seamless user
            interfaces, I thrive on bringing ideas to life. Outside of work,
            you'll often find me behind the camera, sketching new designs, or
            jamming on my guitar. I'm excited about the endless possibilities of
            design and technology and look forward to collaborating with you.
          </div>
        </div>
      </div>
      <div class="name" data-aos="fade-up">
        <div class="about">
          <span style="color: rgb(74, 20, 33)">My</span>
          <span style="color: rgb(12, 28, 74)">Experience</span>
        </div>
        <p>
          Since <span class="highlight">high school</span>, I have always been
          entrusted with the responsibility of being the documentation
          coordinator. This role provided me with numerous opportunities to hone
          my skills in<span class="blue">videography and video editing</span>.
          One of the most memorable achievements was when a friend and I created
          a video and uploaded it to YouTube, which successfully garnered
          <span class="highlight">10,000</span>
          views. Additionally, during my high school years, I actively worked as
          a video editor. I had an extraordinary opportunity when I was selected
          to
          <span class="blue"
            >represent SMA 1 Ngadirojo in a videography competition at the
            county level in Pacitan.</span
          >
          Despite using KineMaster and PowerDirector at that time, I felt quite
          proficient in video editing. I was able to maximize the features of
          these applications and understood their functionalities very well.
          This experience not only enhanced my skills in videography and editing
          but also built my confidence in creating and producing content.
          Considering the advancements in technology and editing tools today, I
          feel proud of the accomplishments and skills I possessed back then.
          These experiences taught me the importance of creativity,
          perseverance, and the ability to make the most of available resources
          to produce the best work possible. I hope to continue developing these
          skills and create more valuable and inspiring content in the future.
        </p>
      </div>
      <div class="image-3"></div>
      <div class="image-4"></div>

      <div class="image-container" data-aos="fade-up">
        <div class="flex">
          <div class="image1" data-aos="fade-up">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
          <div class="image2" data-aos="fade-up">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
        </div>
        <div class="name" data-aos="fade-up">
          <div class="about2">
            <span style="color: rgb(74, 20, 33)">University</span>
            <span style="color: rgb(12, 28, 74)">Experience</span>
          </div>
          <p>
            Sebagai mahasiswa
            <span class="blue">Sistem Informasi Jurusan Informatika</span>
            di
            <span
              style="
                padding: 0px 5px;
                width: auto;
                height: 20px;
                border-radius: 4px;
                background-color: rgb(0, 117, 59);

                transform: rotate(15deg);
              "
              >UPN Veteran Yogyakarta</span
            >
            , saya aktif berpartisipasi dalam kehidupan kampus. Saya tidak hanya
            fokus pada akademik, tetapi juga terlibat dalam berbagai kegiatan
            organisasi dan kepanitiaan. Salah satu peran terpenting saya adalah
            sebagai<span class="blue"
              >Wakil Kepala Departemen Media Komunikasi dan Informasi di
              himpunan</span
            >
            , di mana saya bertanggung jawab sebagai
            <span class="blue">Pengurus Instagram Himpunan</span> Pengurus
            Instagram Himpunan bersama dengan TIM Medkominfo. Dalam posisi ini,
            saya telah mengembangkan keterampilan desain menggunakan berbagai
            tools seperti <span class="highlight">Photoshop dan Canva</span>,
            memastikan konten yang kami bagikan memiliki dampak visual yang kuat
            dan menarik. Selain menjadi bagian dari dunia desain, saya juga
            telah merambah ke bidang
            <span class="highlight">Web Development</span>. Berkat pemahaman
            saya dalam UI/UX Design, saya mampu menghasilkan tata letak yang
            intuitif dan menarik bagi pengguna. Selanjutnya, saya belajar
            tentang <span class="highlight">Front End Development</span>,
            menguasai bahasa-bahasa seperti HTML, CSS, JavaScript, PHP, dan
            Typescript. Saat ini, saya fokus menggunakan
            <span class="highlight"
              >Angular Typescript sebagai framework utama</span
            >
            untuk proyek-proyek web saya. Meskipun demikian, saya juga memiliki
            pengetahuan yang cukup tentang React dan Next.js. Pengalaman magang
            saya di
            <span
              style="
                padding: 0px 5px;
                width: auto;
                height: 20px;
                border-radius: 4px;
                background-color: rgb(146, 26, 160);

                transform: rotate(15deg);
              "
              >PT Zettabyte sebagai Tester di Divisi Feature Development</span
            >
            telah memperkaya pemahaman saya tentang proses pengembangan
            perangkat lunak. Ini memberi saya wawasan yang berharga tentang
            bagaimana menguji dan memastikan kualitas produk perangkat lunak
            sebelum diluncurkan ke pasar. Saya selalu bersemangat untuk terus
            belajar dan mengembangkan diri saya dalam dunia Front End
            Development. Setiap tantangan baru adalah kesempatan bagi saya untuk
            mengeksplorasi dan mengasah keterampilan saya lebih lanjut.
          </p>
        </div>
        <div class="flex">
          <div class="image3">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>
          <div class="image4">
            <div class="overlay">
              <span class="detail-button">Cek Detail</span>
            </div>
          </div>

          <div class="image-5"></div>
          <div class="image-6"></div>
        </div>
        <div class="footer"></div>
      </div>
    </div>
  </div>
</div>
