.sidebar-container {
  position: absolute;
  z-index: 1;
  top: 32px;
  right: 100px;
  height: 50px;
  width: 650px;
  /* backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(96, 96, 96, 0.24);
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3); */
}
.sidebar {
  display: flex;
  position: relative;
  top: 10px;
}
.about p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 1s ease;
  color: aliceblue;
}
.about {
  height: 25px;
  width: 10 0px;
  border-radius: 20px;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}

.about:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.home {
  height: 25px;
  width: 10 0px;
  /* position: absolute;
  top: 0px;
  left: 25%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.home p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: aliceblue;
}

.home:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project {
  height: 25px;
  width: 10 0px;
  /* position: absolute;
  top: 0px;
  left: 33.75%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.project p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: aliceblue;
}
.project:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.contact {
  height: 25px;
  width: 10 0px;
  /* position: absolute;
  top: 0px;
  left: 42.5%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.contact p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: aliceblue;
}
.contact:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
