.sidebar-container {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 710px;
  height: 50px;
}
.sidebar {
  display: flex;
  position: relative;
  top: 10px;
  gap: 10px;
}
.about p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.about {
  height: 30px;
  border-radius: 20px;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}

.about:hover {
  background: rgba(28, 32, 75, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  outline: ridge 2px rgba(30, 0, 162, 0.635);
}

.home {
  height: 30px;
  border-radius: 50px;

  /* position: absolute;
  top: 0px;
  left: 25%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.home p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: #1c204b;
}

.home:hover {
  background: rgba(28, 32, 75, 0.25);
  outline: ridge 2px rgba(30, 0, 162, 0.635);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project {
  height: 30px;
  border-radius: 50px;

  width: 10 0px;
  /* position: absolute;
  top: 0px;
  left: 33.75%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.project p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: #1c204b;
}
.project:hover {
  background: rgba(28, 32, 75, 0.25);
  outline: ridge 2px rgba(30, 0, 162, 0.635);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.contact {
  height: 30px;
  border-radius: 50px;
  width: 10 0px;
  /* position: absolute;
  top: 0px;
  left: 42.5%; */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.contact p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: #1c204b;
}
.contact:hover {
  color: #fff;
  background: rgba(28, 32, 75, 0.25);
  outline: ridge 2px rgba(30, 0, 162, 0.635);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.contact:hover p {
  color: rgb(255, 255, 255);
}
.home:hover p {
  color: rgb(255, 255, 255);
}
.about:hover p {
  color: rgb(255, 255, 255);
}
.project:hover p {
  color: rgb(255, 255, 255);
}

.menu {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  width: 90vw;
  height: 55px;
  position: absolute;
  border-bottom: solid 0.5px gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.lingkaran-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
}
.lingkaran {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.merah {
  background-color: rgb(255, 69, 69);
}

.kuning {
  background-color: rgb(255, 205, 56);
}

.hijau {
  background-color: rgb(50, 255, 64);
}
/* Untuk layar kecil */
@media only screen and (max-width: 768px) {
  .lingkaran-container {
    display: none; /* Sembunyikan lingkaran-container pada layar kecil */
  }

  .sidebar-container {
    top: 18px;
    left: 60px; /* Sembunyikan sidebar di luar layar */
    width: 20px; /* Lebar sidebar */
    height: 100vh; /* Tinggi sesuai viewport */
    transition: left 0.3s ease; /* Animasi saat sidebar muncul */
    z-index: 999; /* Pastikan sidebar muncul di atas konten lain */
  }
  .menu {
    width: 400px;
  }

  .sidebar.show {
    left: 0; /* Munculkan sidebar ketika class "show" ditambahkan */
  }

  .sidebar p {
    color: #fff; /* Warna teks pada menu sidebar */
    font-size: 10px; /* Ukuran font menu responsif */
    padding: 1.5em 0; /* Ruang di atas dan bawah teks */
    text-align: center; /* Tengahkan teks */
    cursor: pointer; /* Pointer saat mengarahkan menu */
  }
}
