<div class="full-container" [style.background-color]="data.color">
  <div class="lingkaran-container">
    <div class="lingkaran merah" (click)="closeDialog()"></div>
    <div class="lingkaran kuning"></div>
    <div class="lingkaran hijau"></div>
  </div>
  <div class="article">
    <div>
      <img [src]="data.imageUrl" alt="Project Image" class="image" />
    </div>
    <div class="title">
      <p>{{ data.title }}</p>
    </div>
    <div class="desc">
      <p>{{ data.desc }}</p>
    </div>
  </div>
</div>
