<div class="full-container" [ngClass]="{ 'light-mode': isLightMode }">
  <div class="header">
    <div class="circle red" (click)="closeDialog()"></div>
    <div class="circle yellow"></div>
    <div class="circle green"></div>
    <div class="toggle" (click)="toggleMode()">
      <input type="checkbox" />
      <label></label>
    </div>
  </div>
  <div class="content">
    <img [src]="data.imageUrl" alt="Project Image" class="image" />
    <div class="title">{{ data.title }}</div>
    <div class="desc">{{ data.desc }}</div>
    <div class="title">Tools</div>
    <div class="desc">{{ data.tools }}</div>
  </div>
</div>
