.full-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 10px;
  color: rgb(216, 216, 216);
  overflow-y: scroll; /* Mengaktifkan scroll vertikal */
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb #252525;
}

.image {
  width: 600px;
  height: auto;
}
.desc {
  width: 600px;
}
.title {
  margin: 10px;
  font-size: 32px;
  font-family: poppins;
  text-transform: lowercase;
}
.lingkaran-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  right: 280px;
  cursor: pointer;
}
.lingkaran {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.merah {
  background-color: #ff605c;
}

.kuning {
  background-color: #ffbd44;
}

.hijau {
  background-color: #00ca4e;
}
