.fullcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 597px;
  background-image: url(https://i.pinimg.com/564x/f0/25/57/f02557f1f0b160c3e06b86a7a38fe76d.jpg);
  background-size: cover;
}

.container {
  padding-bottom: 10px;
  justify-content: center;
  width: 90vw;
  height: 40vw;
  background-color: #fff;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  border-radius: 10px;
  border: solid 0.5px gray;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden; /* Menambahkan scroll vertikal saja */
}

/* Ubah tampilan scrollbar */
.container::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Warna thumb scrollbar */
  border-radius: 10px; /* Border radius thumb scrollbar */
}

.container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); /* Warna track scrollbar */
}

.menu {
  text-align: center;
  width: 90vw;
  height: 55px;
  position: absolute;
  top: 0px;
  border-bottom: solid 0.5px gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  margin-left: 60px;
  font-weight: 500;
}

.nama {
  font-size: 32px;
  display: flex;
  position: relative;
}

.highlight {
  margin-right: 5px;
  transition: transform 0.3s, margin 0.3s;
}

.hover-text {
  margin-left: 300px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s, transform 0.6s;
  transform: translateY(0);
}

.nama:hover .hover-text {
  opacity: 1;
  transform: translateY(-100%);
  background: -webkit-linear-gradient(#9e9e9e, rgb(192, 192, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lingkaran-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.lingkaran {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.merah {
  background-color: rgb(255, 69, 69);
}

.kuning {
  background-color: rgb(255, 205, 56);
}

.hijau {
  background-color: rgb(50, 255, 64);
}
.about p {
  margin-top: 19px;
  transition: all 1s ease;
}
.about {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 25%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}

.about:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.home {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  border-right: solid #656565 1px;
  top: 0px;
  left: 16.25%;
  color: var(--text-foreground);
  overflow: hidden;
}
.home p {
  margin-top: 19px;
}
.project {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 33.75%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.project p {
  margin-top: 19px;
}
.project:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.contact {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 42.5%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.contact p {
  margin-top: 19px;
}
.contact:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project-container {
  margin-top: 200px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Menyesuaikan jumlah kolom dengan lebar card dan container */
  gap: 10px; /* Spasi antar card */
  width: 900px; /* Maksimum lebar container */
}
.card {
  width: 190px;
  height: 254px;
  margin: 0 auto;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
