.fullcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 597px;
  background-image: url(https://i.pinimg.com/564x/f0/25/57/f02557f1f0b160c3e06b86a7a38fe76d.jpg);
  background-size: cover;
}

.container {
  padding-bottom: 200px; /* Menambahkan padding bottom */
  position: relative;
  top: 56.5px;
  padding-bottom: 10px;
  justify-content: center;
  width: 90vw;
  height: 34vw;
  background-color: #fff;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  border-top: none;
  display: flex;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden; /* Menambahkan scroll vertikal saja */
}

/* Ubah tampilan scrollbar */
.container::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
  height: 30px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Warna thumb scrollbar */
  border-radius: 10px; /* Border radius thumb scrollbar */
}

.container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); /* Warna track scrollbar */
}

.menu {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  width: 90vw;
  height: 55px;
  position: absolute;
  border-bottom: solid 0.5px gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  margin-left: 60px;
  font-weight: 500;
}

.nama {
  font-size: 32px;
  display: flex;
  position: relative;
}

.highlight {
  margin-right: 5px;
  transition: transform 0.3s, margin 0.3s;
}

.hover-text {
  margin-left: 300px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s, transform 0.6s;
  transform: translateY(0);
}

.nama:hover .hover-text {
  opacity: 1;
  transform: translateY(-100%);
  background: -webkit-linear-gradient(#9e9e9e, rgb(192, 192, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lingkaran-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.lingkaran {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.merah {
  background-color: rgb(255, 69, 69);
}

.kuning {
  background-color: rgb(255, 205, 56);
}

.hijau {
  background-color: rgb(50, 255, 64);
}
.about p {
  margin-top: 19px;
  transition: all 1s ease;
}
.about {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 25%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}

.about:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.home {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  border-right: solid #656565 1px;
  top: 0px;
  left: 16.25%;
  color: var(--text-foreground);
  overflow: hidden;
}
.home p {
  margin-top: 19px;
}
.project {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 33.75%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.project p {
  margin-top: 19px;
}
.project:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.contact {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  height: 55px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 42.5%;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease; /* Menambahkan transisi untuk semua properti yang berubah */
}
.contact p {
  margin-top: 19px;
}
.contact:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project-container {
  margin-bottom: 20px;
}
.box-container {
  position: absolute;
  right: 30px;
  width: 900px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  border: #ffffff solid 1px;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
  padding: 1rem;
  width: 11.5rem;
  background-color: var(--bg-card);
  border-radius: 5px;
}

.image_container {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  filter: blur(5px); /* Mengatur efek blur default */
  transition: filter 0.3s ease; /* Animasi transisi saat mengubah filter */
}

.image_container:hover {
  filter: none; /* Menghapus efek blur saat hover */
}

.project-title {
  font-family: poppins;
  font-style: italic;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 5px 10px; /* Padding judul */
  border-radius: 5px; /* Sudut bulat judul */
  transition: opacity 0.3s; /* Animasi opacity */
  transform: translate(-50%, -250%); /* Pusatkan judul tepat di tengah */
  width: 100px;
}

.image_container:hover ~ .project-title {
  opacity: 0; /* Hilangkan judul saat gambar dihover */
}
.project-title:hover {
  opacity: 0;
}
