/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  scroll-behavior: smooth;
}
