<div class="fullcontainer">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="title">
      <div class="nama">
        <div class="hello">hello ,its me</div>
        <p class="shimmer">Nadira Nur Wiradatya.</p>
        <div class="hover-text" style="margin-left: 205px">a</div>
        <div class="hover-text" style="margin-left: 375px">r</div>
        <div class="hover-text" style="margin-left: 725px">ya</div>
      </div>

      <div class="desc">you can also call me arya</div>
    </div>
  </div>
</div>
