.fullcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 597px;
  background-image: url(https://i.pinimg.com/736x/b2/fb/21/b2fb21f206c56acc2007ed7e587d9770.jpg);
  background-size: cover;
}

.container {
  width: 90vw;
  height: 39vw;
  background-color: #fff;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  border-radius: 10px;
  border: solid 0.5px gray;
  align-items: center;
}

.menu {
  text-align: center;
  width: 90vw;
  height: 55px;
  position: absolute;
  top: 0px;
  border-bottom: solid 0.5px gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  max-width: 900px;
  margin-left: 110px;
  font-weight: 500;
}

.nama {
  font-family: poppins;
  font-size: 62px;
  font-weight: 600;
  display: flex;
  position: relative;
  background: #570f55;
  background: linear-gradient(to top left, #570f55 8%, #8302aa 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  margin-right: 5px;
  transition: transform 0.3s, margin 0.3s;
}

.hover-text {
  font-family: poppins;
  margin-left: 300px;
  position: absolute;
  top: 120px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.6s;
}

.nama:hover .hover-text {
  opacity: 1;
  transform: translateY(-100%);
  background: #ffdd00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 208, 0, 0.9) 0px 0px 38px;
}
.lingkaran-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.lingkaran {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.merah {
  background-color: #ff605c;
}

.kuning {
  background-color: #ffbd44;
}

.hijau {
  background-color: #00ca4e;
}
