<div class="fullcontainer">
  <div class="container">
    <div class="menu">
      <div class="lingkaran-container">
        <div class="lingkaran merah"></div>
        <div class="lingkaran kuning"></div>
        <div class="lingkaran hijau"></div>
      </div>
      <div class="home">
        <p>Home</p>
      </div>
      <div class="about">
        <p>About</p>
      </div>
      <div class="project" (click)="goToProject()">
        <p>Project</p>
      </div>
      <div class="contact">
        <p>Contact</p>
      </div>
    </div>
    <div class="title">
      <div class="nama">
        Hello. I am Nadira Nur Wiradatya.
        <div class="hover-text" style="margin-left: 300px; position: absolute">
          a
        </div>
        <div class="hover-text" style="margin-left: 372px">r</div>
        <div class="hover-text" style="margin-left: 530px">ya</div>
        <!-- Teks yang akan muncul saat dihover -->
      </div>
      <div class="desc">you can also call me arya</div>
    </div>
  </div>
</div>
